<div [ngClass]="(cur ==='en')? 'sidebar-container':'sidebar-container-ar'">
    <ul class="sidebar-navigation">
        <li class="header">{{'Navigation-Model'|translate}}</li>
        <li>
            <a routerLink="dashboard">
                {{'Dash-board'|translate}}
            </a>
        </li>
        <li>
            <a routerLink="add">
                {{'Add-Employee'|translate}}
            </a>
        </li>
        <li>
            <a href="#">
                {{'dummy-link'|translate}}
            </a>
        </li>

    </ul>
</div>

