<div class="content-container my-5">

    <div class="container">
        <form (ngSubmit)="filterData(f.value)"
			  #f="ngForm"
              class="row g-3 d-flex align-items-end mb-5 justify-content-around">
            <div class="col-auto">
                <label for="staticEmail2"
                       class="visually-hidden">{{'Employee-Name'|translate}}</label>
                <input type="text"
                       class="form-control"
                       id="staticEmail2"
                       name="name"
                       ngModel
                       (keyup)="filterData(f.value)"
                       maxlength="20"
					   #name="ngModel"
                       minlength="4">
                <div
                        class="d-inline-block"
                        *ngIf="!name?.valid
          && (name?.dirty
           || name?.touched)">
                    Invalid Name
                </div>

            </div>
            <div class="col-auto">
                <label for="exampleFormControlSelect1"
                       class="visually-hidden">{{"Department"|translate}}</label>
                <select class="form-control"
                        id="exampleFormControlSelect1"
                        name="dept"
                        ngModel
                        (change)="filterData(f.value)">
                    <option value="HR">{{'Human-Resources'|translate}}</option>
                    <option value="IT">{{'Information-Technologies'|translate}}</option>
                    <option value="Of">{{'Office'|translate}}</option>
                    <option value="PR">{{'Public-Relations'|translate}}</option>

                </select>

            </div>
            <div class="col-auto">
                <button type="submit"
                        class="btn btn-primary">{{'Search'|translate}}
                </button>
            </div>
        </form>
        <p class="text-danger font-weight-bold"
           *ngIf="error">{{error}}</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee Code</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emp of em">
                <td>{{emp.name}}</td>
                <td>{{emp.code}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
